In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
report2018_file = "./WorldHappiness2018_Data.csv"
report2018_df = pd.read_csv(report2018_file)
report2018_df.head()

,Rank,Country,Score,GDP_Per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom_To_Make_Life_Choices,Generosity,Perceptions_Of_Corruption,Residual
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.192,0.393,2.988
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2.723
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2.779
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2.564
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2.675

In [3]:
report2017_file = "./2017.csv"
report2017_df = pd.read_csv(report2017_file)
report2017_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [38]:
# Create a filtered dataframe from specific columns
report2017_cols = ["Country", "Happiness.Rank", "Happiness.Score", "Economy..GDP.per.Capita.", 
                   "Health..Life.Expectancy.", "Freedom", "Generosity", "Trust..Government.Corruption."]

report2017_transformed= report2017_df[report2017_cols].copy()

# Rename the column headers
report2017_transformed= report2017_transformed.rename(columns={"Happiness.Rank": "rank", "Happiness.Score": "score", 
                                         "Economy..GDP.per.Capita.": "gdp_per_capita", 
                                         "Health..Life.Expectancy.": "health_life_expectancy",
                                         "Trust..Government.Corruption.": "corruption",
                                         "Country": "country", "Generosity": "generosity",
                                         "Freedom": "freedom"})

report2017_transformed.head()

,country,rank,score,gdp_per_capita,health_life_expectancy,freedom,generosity,corruption
0,Norway,1,7.537,1.616463,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,0.809158,0.617951,0.245483,0.382612

In [39]:
# Create a filtered dataframe from specific columns
report2018_cols = ["Country", "Rank", "Score", "GDP_Per_Capita", "Generosity", "Social_Support",
                   "Healthy_Life_Expectancy", "Freedom_To_Make_Life_Choices", "Perceptions_Of_Corruption"]

report2018_transformed= report2018_df[report2018_cols].copy()


# Rename the column headers
report2018_transformed= report2018_transformed.rename(columns={"Country": "country", "Score": "score",
                                          "Social_Support": "social_support", "Rank": "rank",
                                           "GDP_Per_Capita": "gdp_per_capita", "Generosity": "generosity",
                                          "Healthy_Life_Expectancy": "health_life_expectancy",
                                          "Freedom_To_Make_Life_Choices": "freedom", 
                                          "Perceptions_Of_Corruption": "corruption"})

report2018_transformed.head()

,country,rank,score,gdp_per_capita,generosity,social_support,health_life_expectancy,freedom,corruption
0,Finland,1,7.632,1.305,0.192,1.592,0.874,0.681,0.393
1,Norway,2,7.594,1.456,0.286,1.582,0.861,0.686,0.340
2,Denmark,3,7.555,1.351,0.284,1.590,0.868,0.683,0.408
3,Iceland,4,7.495,1.343,0.353,1.644,0.914,0.677,0.138
4,Switzerland,5,7.487,1.420,0.256,1.549,0.927,0.660,0.357

In [32]:
#Create database connection
connection_string = "postgres:sdsndn8891@localhost:5432/happiness_report_db"
engine = create_engine(f'postgresql://{connection_string}')

In [33]:
# Confirm tables
engine.table_names()

[]

In [40]:
report2018_transformed.to_sql(name='report2018', con=engine, if_exists='append', index=True)

In [ ]:
report2017_transformed.to_sql(name='report2017', con=engine, if_exists='append', index=True)